.application-information {
  position: relative;

  @include reset-fieldset;
  padding-top: 97px;
  padding-bottom: 45px;
  background-color: $light-grey;

  @media (min-width: $width-tablet) {
    @include visible-fieldset;
    padding-top: 42px;
    padding-bottom: 57px;
    background-color: $white;
  }

  @media (min-width: $width-desktop) {
    padding-left: 24px;
    padding-right: 21px;
  }
}

.application-information__title {
  transform: translateY(157%);
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  color: $magenta;

  @media (min-width: $width-tablet) {
    br {
      display: none;
    }

    transform: translateY(0);
    padding: 0 25px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    font-size: 14px;
  }
}

.application-information__list {
  @include reset-list;
  @include ears;

  @media (min-width: $width-tablet) {
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    margin-left: 50px;
  }
}

.application-information__item {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.application-information__label {
  display: block;
  position: relative;
  cursor: pointer;
}

.application-information__input {
  &:hover + .application-information__mark {
    border-color: $dark-blue;
  }

  &:focus + .application-information__mark {
    border-color: $green;
  }

  &:focus:not(:focus-visible) + .application-information__mark {
    border-color: $grey;
  }

  &:focus-visible + .application-information__mark {
    border-color: $green;
  }

  &:active + .application-information__mark {
    border-color: $magenta;
  }
}

.application-information__input:checked + .application-information__mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $magenta;
}

.application-information__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid $grey;
  border-radius: 50%;
  background-color: $white;
  transform: translateY(-12%);
}

.application-information__span {
  padding-left: 70px;

  @media (min-width: $width-tablet) {
    padding-left: 60px;
  }
}
