.table {
  border-spacing: 0;
  position: relative;
  left: 50%;
  width: 840px;
  transform: translateX(-50%);
}

.table__title,
.table__data {
  padding: 0;
  width: 280px;
  box-sizing: border-box;
}

.table__title {
  padding-top: 10px;
  padding-bottom: 27px;
  background-color: $dark-blue;
  border-left: 2px solid $grey;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  overflow: hidden;

  &:nth-child(2) {
    border-left: none;
  }

  &--mobile {
    display: none;
  }

  &--hit::before {
    content: "хит";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;

    @include center;
    position: absolute;
    top: 17px;
    left: -24px;
    height: 23px;
    width: 105px;
    background-color: $magenta;
    transform: rotate(-45deg);
  }
}

.table__mode {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.table__price {
  display: block;
  margin-top: -3px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.table__row:last-child {
  .table__data {
    border-bottom: 2px solid $grey;
  }
}

.table__data {
  padding: 15px 0 15px 20px;
  line-height: 30px;
  background-color: $white;
  border-left: 2px solid $grey;
  border-top: 2px solid $grey;

  &:last-child {
    border-right: 2px solid $grey;
  }

  &--peculiarities {
    display: none;
  }

  &--filtr::before {
    content: "Розовый фильтр";
    text-transform: uppercase;
  }

  &--smile::before {
    content: "Смайлики";
    text-transform: uppercase;
  }

  &--comments::before {
    content: "Комментарии";
    text-transform: uppercase;
  }
}

.table__svg {
  display: block;
  float: right;

  &--yes {
    margin-top: 4px;
    margin-right: 17px;
    width: 31px;
    height: 21px;
    fill: $light-green;
  }

  &--no {
    margin-top: 2px;
    margin-right: 19px;
    width: 27px;
    height: 27px;
    fill: $tomato;
  }
}
