.photo-editor__wrapper {
  @include ears;
}

.photo-editor__title {
  margin: 50px 0;
  line-height: 30px;
  text-align: center;
}

.photo-editor__editor {
  position: relative;
  padding: 20px 0 40px;
  background-color: $light-grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 9999px;
    height: 100%;
    background-color: $light-grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 9999px;
    height: 100%;
    background-color: $light-grey;
  }
}

.photo-editor__img {
  display: block;
  width: 280px;
  height: 374px;
}

.photo-editor__list {
  @include reset-list;
  margin-top: 40px;

  &--icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--range {
    margin-bottom: 35px;
  }
}

.photo-editor__item {
  @include ears;
  fill: $dark-blue-3;

  &--active {
    fill: $magenta;
  }
}

.photo-editor__icon {
  display: block;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }
}

.photo-editor__range-bar {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: $dark-blue;
  display: none;

  &--active {
    display: block;
  }
}

.photo-editor__switch {
  position: absolute;
  top: -6px;
  padding: 0;
  display: block;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: $white;
  border: 2px solid $magenta;
  border-radius: 50%;

  &--active {
    left: 193px;
  }
}

.photo-editor__upload {
  position: relative;
  padding-top: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $dark-blue-1;
  }
}

.photo-editor__button {
  border-color: $dark-blue-1;
  color: $dark-blue-1;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:hover {
    border-color: $magenta;
    color: $magenta;
  }

  &:focus {
    outline: none;
    border-color: $green;
    color: $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    border-color: $dark-blue-1;
    color: $dark-blue-1;
  }

  &:focus-visible {
    outline: none;
    border-color: $green;
    color: $green;
  }

  &:active {
    border-color: $magenta;
    background-color: $magenta;
    color: $white;
  }
}
