.page-header {
  min-height: 462px;
  background-image: url("../img/mobile/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark-blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/back-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    min-height: 729px;
    background-image: url("../img/tablet/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $width-desktop) {
    min-height: 853px;
    background-image: url("../img/desktop/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop/back-desktop@2x.jpg");
    }
  }
}

.page-header__content {
  @include ears;
  padding-top: 23px;
  padding-bottom: 17px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);

  &--active {
    box-shadow: 0 1px 0 0 #000000;
    background-color: $dark-blue;
  }

  @media (min-width: $width-tablet) {
    padding-top: 27px;
    padding-bottom: 40px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 31px;
  }
}

.page-header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: $width-desktop) {
    max-width: 940px;
    width: 100%;
  }
}

.page-header__link {
  display: block;
  outline-offset: 10px;
  border-radius: 2px;

  &:hover .page-header__logo {
    fill: $magenta;
    color: $magenta;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active .page-header__logo {
    fill: $white-3;
    color: $white-3;
  }
}

.page-header__logo {
  &--mobile {
    width: 74px;
    height: 23px;
    fill: $white;
  }

  &--tablet {
    width: 145px;
    height: 40px;
    fill: $white;
    color: $white;
    display: none;
  }

  &--desktop {
    width: 147px;
    height: 40px;
    display: none;
    color: $white;
  }

  @media (min-width: $width-tablet) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $width-desktop) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.page-header__nav {
  @media (min-width: $width-desktop) {
    align-self: flex-start;
  }
}
