.nav {
  &.nav-noJS:focus-within .nav__list--disable {
    display: block;
  }

  @media (min-width: $width-desktop) {
    max-width: 620px;
    width: 100%;
  }
}

.nav__button {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  outline-offset: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover .nav__burger {
    fill: $magenta;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active .nav__burger {
    fill: $magenta-3;
  }

  @media (min-width: $width-desktop) {
    display: none;
  }
}

.nav__burger {
  width: 50px;
  height: 23px;
  fill: $white;

  &--close {
    width: 23px;
  }

  &--disable {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  z-index: 10;

  @include reset-list;

  &--disable {
    display: none;
  }

  @media (min-width: $width-tablet) {
    top: 110px;
  }

  @media (min-width: $width-desktop) {
    position: static;
    display: flex;
    justify-content: space-between;
  }
}

.nav__item {
  background-color: $dark-blue;
  border-top: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $width-desktop) {
    background-color: transparent;
    border-top: none;
    box-shadow: none;
  }
}

.nav__link {
  display: block;
  padding: 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $magenta;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active {
    color: $magenta-3;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    padding: 17px 0;
    line-height: 18px;
    font-weight: 400;
    outline-offset: 5px;
    border-radius: 5px;

    &--current::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: $white;
    }

    &:hover {
      color: $magenta;
    }

    &:focus {
      outline: 2px solid $green;
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid $green;
    }

    &:active {
      color: $white-3;
    }
  }
}
