.nav__button {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__burger {
  width: 50px;
  height: 23px;
  fill: $white;

  &--close {
    width: 23px;
  }

  &--disable {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100%;
  z-index: 2;

  @include reset-list;

  &--disable {
    display: none;
  }
}

.nav__item {
  background-color: $dark-blue;
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  &:not(:last-child) {
    margin-bottom: 1px;
  }
}

.nav__link {
  display: block;
  padding: 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-align: center;
  text-decoration: none;
}
