.possibility {
  margin-top: -327px;
  background: linear-gradient(175deg, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%);
}

.possibility__wrapper {
  padding: 0 20px;
}

.possibility__title {
  text-align: center;
  margin-bottom: 123px;
}

.title__text {
  display: inline-block;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.possibility__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.possibility__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 43px;
  }
}

.possibility__img {
  position: relative;

  &--desktop {
    display: none;
  }
}

.possibility__subtitle {
  margin-bottom: 24px;
}

.possibility__text {
  margin: 0;
}

.possibility__phone {
  display: block;
  margin: 0 auto;
}

.possibility__screen {
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
