.achievements {
  @include reset-fieldset;
  padding-top: 100px;
  padding-bottom: 47px;
  position: relative;
  background-color: $light-grey;

  @media (min-width: $width-tablet) {
    @include visible-fieldset;
    background-color: transparent;
    padding-top: 42px;
    padding-bottom: 53px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 60px;
  }
}

.achievements__title {
  padding: 0;
  text-transform: uppercase;
  line-height: 18px;
  color: $magenta;
  text-align: center;
  transform: translateY(155%);

  @media (min-width: $width-tablet) {
    padding: 0 30px;
    line-height: 30px;
    transform: translateY(0);

    br {
      display: none;
    }
  }

  @media (min-width: $width-desktop) {
    font-size: 14px;
  }
}

.achievements__list {
  @include reset-list;
  @include ears;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $width-tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 52px;
  }
}

.achievements__item {
  &:not(:last-child) {
    margin-bottom: 52px;
  }

  @media (min-width: $width-desktop) {
    &--position-1 {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &--position-2 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  @media (min-width: $width-desktop) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.achievements__label {
  position: relative;
  display: block;
  cursor: pointer;
}

.achievements__input {
  &:checked + .achievements__mark {
    background: url("../../../img/svg/icon/icon-yes.svg") no-repeat center $white;
  }

  &:hover + .achievements__mark {
    border-color: $dark-blue;
  }

  &:focus + .achievements__mark {
    border-color: $green;
  }

  &:focus:not(:focus-visible) + .achievements__mark {
    border-color: $grey;
  }

  &:focus-visible + .achievements__mark {
    border-color: $green;
  }

  &:active + .achievements__mark {
    border-color: $magenta;
  }
}

.achievements__mark {
  position: absolute;
  top: -4.5px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid $grey;
  border-radius: 1px;
  background-color: $white;
}

.achievements__span {
  padding-left: 60px;

  @media (min-width: $width-tablet) {
    padding-left: 57px;
  }
}
