.gallery {
  margin-top: -70px;
}

.gallery__list {
  @include reset-list;
}

.photo-card__img {
  display: block;
}

.gallery__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include ears;
}
