.social {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 3px solid $dark-blue-1;
  border-radius: 50%;
  line-height: 0;

  &:hover {
    border-color: $dark-blue;
  }

  &:focus {
    outline: none;
    border-color: $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    border-color: $dark-blue-1;
  }

  &:focus-visible {
    outline: none;
    border-color: $green;
  }

  &:active {
    border-color: $magenta;
    background-color: $magenta;
  }

  &:active .social__icon {
    fill: $white;
  }
}

.social__icon {
  fill: $magenta;

  &--twitter {
    width: 18px;
    height: 14px;
  }

  &--facebook {
    width: 9px;
    height: 18px;
  }

  &--youtube {
    width: 15px;
    height: 13px;
  }
}
