.page-main__subtitle {
  position: relative;
  top: 38px;
  margin-bottom: 38px;
  background-color: $white;
}

.subtitle-catalog {
  margin: 0;
  padding: 50px 0;
  line-height: 30px;
  text-align: center;
}
