.page-main__subtitle {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  background-color: $white;
}

.subtitle-catalog {
  margin: 0;
  padding: 50px 0;
  line-height: 30px;
  text-align: center;
}
