.modes {
  background: linear-gradient(176deg, rgba(255, 255, 255, 1) 10%, rgba(242, 242, 242, 1) 10%);

  @media (min-width: $width-tablet) {
    background: linear-gradient(176deg, rgba(255, 255, 255, 1) 15%, rgba(242, 242, 242, 1) 15.2%);
  }
}

.modes__wrapper {
  overflow-x: hidden;
  padding-top: 100px;
  padding-bottom: 45px;

  @media (min-width: $width-tablet) {
    @include ears;
    padding-top: 120px;
  }
}
