.page-header {
  position: relative;
}

.background__img {
  display: block;
  width: 100%;
}

.page-header__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);

  &--active {
    margin-bottom: 1px;
    box-shadow: 0 1px 0 0 #000000;
    background-color: $dark-blue;
  }
}

.page-header__logo {
  margin: 22px 0 21px 20px;
  width: 74px;
  height: 23px;
  fill: $white;
}

.nav {
  margin: 22px 20px 18px 0;
}

.nav__button {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__burger {
  width: 50px;
  height: 23px;
  fill: $white;

  &--close {
    width: 23px;
  }

  &--disable {
    display: none;
  }
}

.nav__list {
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;

  @include reset-list;

  &--disable {
    display: none;
  }
}

.nav__item {
  background-color: $dark-blue;
  box-shadow: 0 1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  &:not(:last-child) {
    margin-bottom: 1px;
  }
}

.nav__link {
  display: block;
  padding: 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-align: center;
  text-decoration: none;
}
