.promo {
  position: relative;
  top: -373px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.promo__title {
  padding: 0 20px;
  color: $white;
  text-align: center;
  margin-bottom: 22px;
}

.promo__picture {
  position: relative;
  z-index: 1;
}

.promo__screen {
  position: absolute;
  z-index: -1;
  top: 33px;
  left: 104px;
}

.promo__img {
  display: block;
}

.promo__background {
  background-color: $dark-blue;
}

.promo__availability {
  padding: 0 20px;
}

.promo__button {
  margin-top: 28px;
  margin-bottom: 32px;
}

.promo__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0 38px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__icon {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;
    background: url("../../img/svg/icon/icon-apple.svg") no-repeat center;
  }

  &--android {
    width: 43px;
    height: 47px;
    background: url("../../img/svg/icon/icon-android.svg") no-repeat center;
  }

  &--windows {
    width: 44px;
    height: 41px;
    background: url("../../img/svg/icon/icon-microsoft.svg") no-repeat center;
  }
}

.promo__text {
  display: inline-block;
  margin-bottom: 38px;
  color: $white;
  text-align: center;
}
