.questionnaire {
  background-color: $white;
}

.questionnaire__wrapper {
  padding-top: 43px;

  @media (min-width: $width-tablet) {
    @include ears;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    margin: 0 auto;
  }
}

.questionnaire__description {
  margin: 0;
  margin-bottom: 35px;

  @include ears;
  text-align: center;
  line-height: 30px;

  @media (min-width: $width-tablet) {
    font-size: 18px;
    margin-bottom: 72px;
    padding: 48px 30px 0;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 66px;
    padding: 48px 70px 0;
  }
}

.questionnaire__description-span {
  display: none;

  @media (min-width: $width-tablet) {
    display: inline;
  }

  @media (min-width: $width-desktop) {
    br {
      display: none;
    }
  }
}

.questionnaire__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  row-gap: 22px;
  column-gap: 66px;

  @media (min-width: $width-tablet) {
    row-gap: 50px;
  }

  @media (min-width: $width-desktop) {
    row-gap: 45px;
  }
}

.questionnaire__name-information {
  @media (min-width: $width-tablet) {
    order: 1;
  }

  @media (min-width: $width-desktop) {
    margin-top: 20px;
  }
}

.questionnaire__achievements {
  @media (min-width: $width-tablet) {
    order: 4;
    grid-column: 1/-1;
    margin-top: 2px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 6px;
  }
}

.questionnaire__contact-information {
  padding-top: 8px;

  @media (min-width: $width-tablet) {
    order: 3;
    grid-column: 1/-1;
    margin-top: 4px;
    padding-top: 28px;
    padding-bottom: 28px;

    @include visible-fieldset;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 12px;
  }
}

.questionnaire__application-information {
  @media (min-width: $width-tablet) {
    order: 2;
  }
}

.questionnaire__thoughts {
  @media (min-width: $width-tablet) {
    order: 5;
    grid-column: 1/-1;
    margin-top: 8px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 12px;
  }
}

.questionnaire__submit {
  @include ears;
  padding-top: 25px;
  padding-bottom: 22px;

  @media (min-width: $width-tablet) {
    grid-column: 1/-1;
    padding: 15px 0 48px;
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    padding: 20px 0 0;
  }
}

.questionnaire__button-submit {
  margin: 0 auto;
  margin-bottom: 35px;

  &--disabled:disabled {
    background-color: $grey;
    border-color: $grey;
  }

  @media (min-width: $width-tablet) {
    flex: 1 0 300px;
  }
}

.questionnaire__footnote {
  margin: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-desktop) {
    font-size: 14px;
  }
}

.questionnaire__span {
  color: $magenta;
}

.questionnaire__span-desktop {
  display: none;

  @media (min-width: $width-desktop) {
    display: inline;
  }
}
