.possibility {
  background: linear-gradient(174.5deg, rgba(255, 255, 255, 1) 23%, rgba(242, 242, 242, 1) 23.1%);

  @media (min-width: $width-tablet) {
    background: linear-gradient(175.5deg, rgba(255, 255, 255, 1) 37.4%, rgba(242, 242, 242, 1) 37.5%);
  }

  @media (min-width: $width-desktop) {
    background: linear-gradient(175.2deg, rgba(255, 255, 255, 1) 40.7%, rgba(242, 242, 242, 1) 40.8%);
  }
}

.possibility__wrapper {
  @include ears;
  padding-top: 41px;

  @media (min-width: $width-tablet) {
    padding-top: 47px;
    padding-bottom: 42px;
    max-width: $width-tablet+200px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 62px;
    max-width: $width-desktop;
  }
}

.possibility__title {
  text-align: center;
  margin-bottom: 112px;

  @media (min-width: $width-tablet) {
    margin-bottom: 33px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 57px;
  }
}

.possibility__title-text {
  display: block;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $width-tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.possibility__list {
  @include reset-list;

  @media (min-width: $width-tablet) {
    position: relative;
    display: grid;
    grid-template-columns: 268px 1fr;
    column-gap: 42px;
    row-gap: 35px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 0;
  }
}

.possibility__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 31px;
  }

  &--mobile-flex {
    display: flex;
    flex-direction: column;

    .possibility__text {
      margin-bottom: 41px;
    }
  }

  @media (min-width: $width-tablet) {
    display: block;
    text-align: start;
    grid-column: 2/3;

    .possibility__text {
      margin-bottom: 0;
    }

    &:first-child {
      padding-top: 70px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $width-desktop) {
    text-align: center;
    grid-column: initial;

    &:first-child {
      padding-top: 0;
    }
  }
}

.possibility__img {
  position: relative;
  order: 3;

  @media (min-width: $width-tablet) {
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (min-width: $width-desktop) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 75px;
      left: 0;
      right: 0;
      height: 17px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }
  }
}

.possibility__subtitle {
  margin-bottom: 12px;

  br {
    display: none;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    top: -80px;
    left: 0;
    right: 0;
    padding-top: 55px;
    margin-bottom: -(80px)+23px;
    font-size: 30px;
    background-color: $light-grey;

    br {
      display: inline;
    }
  }
}

.possibility__text {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $width-tablet) {
    br {
      display: inline;
    }
  }

  @media (min-width: $width-desktop) {
    width: 249px;
    margin: 0 auto;

    br {
      display: none;
    }
  }
}

.possibility__phone {
  display: block;
  margin: 0 auto;

  &--none {
    display: none;
  }

  @media (min-width: $width-desktop) {
    &--none {
      display: block;
    }
  }
}

.possibility__screen {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  margin: 0 auto;

  &--none {
    display: none;
  }

  @media (min-width: $width-tablet) {
    top: 60px;
  }

  @media (min-width: $width-desktop) {
    top: 40px;

    &--none {
      display: block;
    }
  }
}
