.possibility {
  background: linear-gradient(174.5deg, rgba(255, 255, 255, 1) 23%, rgba(242, 242, 242, 1) 23.1%);

  @media (min-width: $width-tablet) {
    background: linear-gradient(175deg, rgba(255, 255, 255, 1) 35%, rgba(242, 242, 242, 1) 35.1%);
  }
}

.possibility__wrapper {
  max-width: $width-tablet+200px;

  @include ears;
  padding-top: 41px;

  @media (min-width: $width-tablet) {
    padding-top: 47px;
  }
}

.possibility__title {
  text-align: center;
  margin-bottom: 112px;

  @media (min-width: $width-tablet) {
    margin-bottom: 33px;
  }
}

.possibility__title-text {
  display: block;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $width-tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.possibility__list {
  @include reset-list;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 268px 1fr;
    column-gap: 42px;
    row-gap: 35px;
  }
}

.possibility__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 31px;
  }

  &:nth-last-child(2) {
    margin-bottom: 41px;
  }

  @media (min-width: $width-tablet) {
    text-align: start;
    grid-column: 2/3;

    &:first-child {
      padding-top: 70px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--tablet {
      grid-row: 1/5;
      grid-column: 1/2;
    }
  }
}

.possibility__img {
  position: relative;

  &--desktop {
    display: none;
  }
}

.possibility__subtitle {
  margin-bottom: 12px;
}

.possibility__text {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $width-tablet) {
    br {
      display: inline;
    }
  }
}

.possibility__phone {
  display: block;
  margin: 0 auto;
}

.possibility__screen {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    top: 60px;
  }
}
