.page-footer__wrapper {
  padding: 33px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet+200px;
    padding: 36px 0;

    @include ears;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__link {
  display: inline-block;
  line-height: 0;
  margin-bottom: 38px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  fill: $magenta;
  color: $dark-blue;
  width: 145px;
  height: 40px;
}

.page-footer__list {
  margin-bottom: 38px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__author {
  line-height: 18px;
  color: $dark-blue;
  text-decoration: none;
  display: flex;
  align-items: center;

  @media (min-width: $width-tablet) {
    align-self: center;
  }
}

.page-footer__icon {
  fill: $magenta;
  width: 27px;
  height: 34px;
  margin-left: 15px;
}
