.page-footer__wrapper {
  padding: 33px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet+200px;
    padding: 36px 0;

    @include ears;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__link {
  display: block;
  line-height: 0;
  margin-bottom: 38px;
  outline-offset: 5px;
  border-radius: 5px;

  &:hover .page-footer__logo {
    color: $magenta;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active .page-footer__logo {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  fill: $magenta;
  color: $dark-blue;
  width: 145px;
  height: 40px;

  &--desktop {
    display: none;
    color: $dark-blue;
  }

  @media (min-width: $width-desktop) {
    display: none;

    &--desktop {
      display: block;
    }
  }
}

.page-footer__list {
  margin-bottom: 38px;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.page-footer__author {
  line-height: 18px;
  color: $dark-blue;
  text-decoration: none;
  display: flex;
  align-items: center;
  outline-offset: 5px;
  border-radius: 5px;

  &:hover .page-footer__icon {
    fill: $dark-blue;
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active .page-footer__icon {
    fill: $dark-blue-3;
  }

  @media (min-width: $width-tablet) {
    align-self: center;
  }
}

.page-footer__icon {
  fill: $magenta;
  margin-left: 15px;
}
