.slider__item {
  margin-bottom: 25px;

  &--table {
    margin-bottom: 32px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 29px;

    &--table {
      margin-bottom: 0;
    }
  }
}

.slider__toogles {
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    &--table {
      display: none;
    }
  }

  @media (min-width: $width-desktop) {
    display: none;
  }
}

.slider__toogle {
  padding: 9.5px;
  border: none;
  background-color: initial;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    .slider__mark {
      background-color: $dark-blue-6;
    }
  }

  &:focus {
    outline: 2px solid $green;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $green;
  }

  &:active {
    .slider__mark {
      background-color: $dark-blue-1;
    }
  }

  &--current {
    .slider__mark {
      outline: 3px solid $dark-blue;
      background-color: $white;
    }
  }
}

.slider__mark {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $dark-blue-3;
}
