.like {
  display: flex;
  align-items: center;
}

.like__text {
  margin: 0;
  margin-left: 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: $magenta;
  order: 2;

  @media (min-width: $width-tablet) {
    order: 1;
    margin-left: 0;
    margin-right: auto;

    &--margin {
      margin-right: 16px;
    }
  }
}

.like__button {
  padding: 0;
  border: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    order: 2;
  }
}

.like__heart {
  display: block;
  width: 13px;
  height: 12px;
  fill: $magenta;
}
